$btn_side: 60px;
$background: #fcf8f3;
$btn_border: 6px;
$btn_reset_height: $btn_side/3;
$counter_container_width: 500px;
$btn_space: $btn_side * 2/3;

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $background;
}

.counter-container, .counter-container > * {
  margin-right: auto;
  margin-left: auto;
}

.counter-container {
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: $counter_container_width/2;

  @media (min-width: 600px) {
    width: $counter_container_width;
  }
}

.btn-plus, .btn-minus, .display > div {
  width: $btn_side;
  height: $btn_side;
  font-size: 30px;
  text-align: center;
}

.display {
  display: flex;
  flex-direction: row-reverse;
  div {
    //line-height: $btn_side;
    font-size: 40px;
    font-weight: bolder;
    background: #ffebb7;
    border-radius: 18px;
  }
}

.frame {
  position: absolute;
  left: ($btn_side/2) - ($btn_border/2);
  top: ($btn_border + ($btn_reset_height + $btn_border)/2);
  border: black solid $btn_border;
  border-radius: 25px;
  width: $counter_container_width - $btn_side + $btn_border;
  //height: $btn_space * 2 + $btn_side * 2 + $btn_border * 4 + $btn_reset_height / 2;
  height: 185px;
  z-index: -1;
}

button, .display > div {
  border: $background solid $btn_border;
}

.btn-container {
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  margin-top: $btn_space;
  margin-bottom: $btn_space;
}

.btn-reset {
  font-family: Tahoma;
  font-size: $btn_reset_height;
  padding: 3px 6px;
}

